html{
    color: #fff; /*deixa os textos brancos*/
    scroll-behavior: smooth; /*rolagem mais suave*/
}

body{
    /*cor cinza no fundo do site*/
    font-family: "poppins", sans-serif; 
    /*a virgula diz que se não tiver poppins carrega qualquer outra fonte sem ser serif*/
    margin: 0 auto; 
    /*margem 0 em cima e em baixo e auto dos lados (isso centraliza) e para funcionar o elemento precisa ter um tamanho*/
    max-width: 1120px;
    /* essa é a largura do elemento; coloca uma margem na pagina toda*/
    background: linear-gradient(#000000, #9198e5);
    background-size: 120% 120%;
}

.cabecalho{
    display: flex; /*coloca lado a lado*/ 
    justify-content: space-between; /*da um espaço entre os elementos*/
    align-items: center; /*centraliza entre cima e baixo*/
    padding: 30px 15px; /*espaço primeiro cima e baixo e segundo lado*/
}

.cabecalho .logo{  /*o espaco significa a logo dentro do cabecalho*/
    width: 65px; /*largura*/
    height: 65px; /*altura*/
    border-radius: 50%; /*deixa redondo*/
    border: 2px solid #fff; /*tamanho, tipo e cor da borda*/
    text-decoration: underline; /*linha em baixo do texto*/
    text-align: center; /*alinha o texto*/
    line-height: 55px; /*centraliza o texto*/
    font-family: "Raleway", sans-serif;
    transition: 0,2s; /*ao passar o mouse em cima a mudanã de cor fica mais suave*/
}

.cabecalho a:hover .logo{
    color: #9443d8;
    border: 2px solid #9443d8;
    /*ao passar o mouse em cima muda a cor*/
}

.cabecalho .menu li a{
    font-size: 20px;
    text-transform: capitalize; /*primeira letraa maiuscula*/
    padding: 10px 20px; /*espaco interno do elemento*/
    transition: 0.2s;
}

.cabecalho .menu li a:hover{
    background-color: #9443d8;
    color: #fff;
    border-radius: 50px;
}

.home {
    display: flex;
    min-height: calc(100vh - 125px); /*aparecer como primeira página do site - 125px é o tamanho do cabecalho*/
    align-items: center;
    gap: 50px; /*separação entre os elementos, espaço*/
    justify-content: space-between; /*ajusta o espaco entre os elementos*/
}

.home .informacoes{
    display: flex; 
    flex-direction: column; /*deixa um em cima do outro*/
    gap: 10px; 
    letter-spacing: 2px; /*espaço entre as letras*/
    padding: 0 15px;
    max-width: 50%; /*metade texto metade foto*/
}

.home .informacoes h1{
    font-family: "Raleway", sans-serif;
    font-size: 45px;
    margin-bottom: 20px; /*em baixo*/
}

.home .informacoes p{
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    margin-bottom: 8px;
}

.home .redes-sociais{
    display: flex;
    gap: 20px;
    text-align: center;
}

.home .redes-sociais a i{
    border: 1px solid #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    text-align: center;
    font-size: 26px;
    transition: 0.3s;
}

.home .redes-sociais a i:hover{
    color: #9443d8;
    border-radius: 1px solid #9443d8;
    transform: scale(1.1); /*quando passa o mouse aumenta o elemento*/
}

.home .container-foto .foto{
    max-width: 450px;
    border-radius: 50%;
}

.home .container-foto img{
    width: 100%;
    border-radius: 50%;
}

.home .foto.sombra-interna{
    background: linear-gradient(to right, #8a35c8, #5959AB, #add8e6);
    background-size: 180% 180%;
    animation: gradient-animation 5s ease infinite;
}

.projetos{
    padding: 70px 0 70px;
}

.projetos .titulo{
    text-align: center;
    padding: 60px 0;
    font-size: 45px;
    font-weight: 500;
    text-transform: uppercase; /*letras maiusculas*/
}

.projetos .container-projeto{
    display: flex;
    gap: 20px;
    flex-wrap: wrap; /*quebra as fotos*/
    margin-bottom: 20px;
    justify-content: center;
}

.projetos .projeto{
    max-width:  260px;
    max-height: 500px;
    position: relative;
    display: none;
}

.projetos .projeto.ativo{
    display: block;
}

.projetos .projeto img{
    height: 100%;
}

.projetos .projeto h3{
    background-color: #040203;
    width: 100%;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: absolute; 
    bottom: 0;
}

.projetos .projeto .informacoes-projeto{
    background-color: #040203;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    font-weight: 600;
    opacity: 0;
    transition: 0.3s;
    padding: 20px;
}

.projetos .container-projeto .projeto:hover .informacoes-projeto{
    opacity: 0.7;
    background-color: #000;
}

.projetos .btn-mostrar-projetos{
    background: none;
    border: 1px solid #fff;
    border-radius: 15px;
    color: #fff;
    width: 180px;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; /*ao passar o mouse aparece a maozinha*/
}

.projetos .btn-mostrar-projetos:hover{
    background-color: #9443d8;   
    transition: 0.3s;
}

.projetos .btn-mostrar-projetos.remover{
    display: none;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}